# Ignore everything by default
*

# Allow the files/folders we actually serve
!.nojekyll
!index.html
!404.html
!react-echarts/**
!react-code-editor/**
!react-graphics-editor/**
!react-media-player/**
